/* Ini file css */

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.title-main {
    text-align: center;
}

header {
    font-weight: bold;
}

.Section-utama {
    padding: 3px;
    margin: 2px;
    background-color: lightcyan;
    padding: 10px;
}

.farenheit {
    padding-top: 3px;
}

button {
    padding-bottom: 10px;
    border: none;
    padding: 5px;
    margin-right: 5px;
    margin-top: 8px;
}

#button-convert {
    background-color: green;
    color: white;
}

#button-reset {
    background-color: purple;
    color: white;
}

#button-reverse {
    background-color: blue;
    color: white;
}

textarea {
    resize: none;
    border: none;
    width: 100%;
}